<h1>Follow Users</h1>
<% if @user.following_user.count == 0 %>
<h3>ユーザーはいません</h3>
<% end %>
<% if @user.following_user.count >= 1 %>
<div class="col-xs-9">
<table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th colspan="3"></th>
		</tr>
	</thead>
<tbody>
  <% @user.following_user.each do |user| %>
<tr>
  <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
  <td><%= user.name %></td>
  <!--フォロー、フォロワー機能-->
  <td>フォロー数：<%= user.follower.count %></td>
  <td>フォロワー数：<%= user.followed.count %></td>
  <td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
</tr>
  <% end %>
</tbody>
</table>
</div>
<% end %>